@use './variables' as var;
@use './mixins' as mx;

.#{var.$namespace}-icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border: 1px solid #000;
  background-color: #ccc;
  color: #000;

  &:visited,
  &:hover,
  &:active,
  &:link {
    text-decoration: none;
  }
}
