@use './variables' as var;
@use './mixins' as mx;

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
}
